@layer components {
    .el-radio {
        @apply appearance-none p-0 inline-block align-bottom box-border shrink-0 text-black size-4 rounded-full border-1 shadow-sm border-black/20 transition-all 
            focus:ring-1
            checked:border-transparent checked:bg-current checked:bg-cover checked:bg-center checked:bg-no-repeat;

        height: 1em;
        width: 1em;
        margin-top: calc((1lh - 1em) / 2);
        margin-bottom: calc((1lh - 1em) / 2);

        &[type="radio"] {
            @apply checked:bg-radio;
        }

        &[type="checkbox"] {
            @apply checked:bg-checkbox;
        }
    }
}
